# Auto detect text files and perform LF normalization
* text=auto

# Python
*.py text eol=lf
requirements.txt text eol=lf

# Data
*.csv text eol=lf

# Windows specific files
*.bat text eol=crlf
*.cmd text eol=crlf
